<li class="prod" data-id="{{ product.getId() }}">
    <small>

        <a class="product alert-warning" href="{{ path('admin_teo_product_product_edit', { "id": product.getId() }) }}">
            {% if product.hasPreview() %}
                <img style="max-width:50px;max-height:50px;" src="{{ product.getPreview().getPath() }}" />
            {% else %}
                <i class="icon-barcode"></i>
            {% endif %}
            {{ product.title() }}
        </a>

        <a title="Reorder product" class="tooltip-trigger btn btn-mini btn-primary reorder" href="javascript:;">
            <i class="fa fa-arrow-v icon-white"></i>
        </a>
    </small>
</li>