<li>
    <small>
        <i class="icon-arrow-right"></i>
            <a class="product alert-warning" href="{{ path('admin_teo_product_product_edit', { "id": product.getId() }) }}">
                {{ product.getTitle() }}
            </a>
    </small>
</li>