<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
    {% for translation in object.translations %}
        <p><strong>{{ translation.locale|upper }}</strong>: {{ translation.title }}</p>
    {% endfor %}
</td>
