<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
    <a class="btn btn-primary btn-xs" href="{{ admin.generateUrl('edit', { 'id': object.getId() }) }}">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
</td>
