ul.categories-tree .btn-mini {
    padding: 0 6px;
}

ul.categories-tree li a.btn-mini i {
    margin-top: 1px;
}

ul.categories-tree,
ul.categories-tree ul {
    list-style: none;
}

ul.categories-tree li i {
    margin-top: 4px;
}

ul.categories-tree small i {
    margin-top: 3px;
}

ul.categories-tree li {
    font-size: 18px;
    margin-top: 20px;
}

ul.categories-tree li.prod.hover,
ul.categories-tree li.cat.hover {
    background: rgba(0, 153, 221, 0.1);
}

ul.categories-tree li small {
    /*margin-left: 10px;*/
}

ul.categories-tree li a.category,
ul.categories-tree li a.product {
    margin-left: 4px;
}

ul.categories-tree li a.product {
    min-width: 280px;
    display: inline-block;
    text-align: center;
}

ul.categories-tree li a.product img {
    float: left;
}

ul.categories-tree li a.category {
    text-transform: uppercase;
}

ul.categories-tree span {
    float: left;
    margin-right: 10px;
}

ul.categories-tree .btn {
    
}

ul.categories-tree li.product {
    list-style: none;
}

.sonata-bc .form-horizontal .sonata-collection-row-without-label {
    margin-left: 200px;
}

.product_extras label {
    float: left;
    margin-top: 4px;
    text-align: right;
    width: 180px;
}

.sonata-ba-form form .help-block {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 13px;
    clear: left;
}

.a2lix_translationsFields.tab-content {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

#croppable {
    margin: 0 auto;
}

.image-cropper h4 {
    text-align: center;
}

.image-cropper .span6 {
    text-align: center;
}

.image-cropper p.info {
    font-size: 14px;
    margin-top: 6px;
}

.jcrop-holder {
    margin: 0 auto;
}

.product_description {
    min-width: 500px;
    min-height: 160px;
    resize: vertical;
}

.product_title {
    min-width: 500px;
}

.rotate-button i[class^="icon-"] {
    margin-top: 2px;
    margin-right: 2px;
}

.image-preview div img {
    max-width: none;
}